
body {
    width: 95;
    margin: auto;
    background: url(https://raw.githubusercontent.com/webplay10/webplay.REPO/master/PLUGIN.VIDEO.WEBPLAY.MATRIX/fanart.jpg) center;
    
    font-family: Sans-Serif;
    line-height: 1.5;
}
