<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  
 
<category label="[COLOR white]Geral[/COLOR]">
        <setting id="mensagem1" type="bool" label="Exibir Mensagem de Boas Vindas" default="true" />
	    <setting id="mensagem2" type="bool" label="Exibir Mensagem de Status" default="true" />
	    <setting id="exibirvip" type="bool" label="Exibir Menu VIP" default="true" />
        <setting id="pesquisa" type="bool" label="Exibir Menu Pesquisar" default="true" />
	    <setting id="dlaudioonly" type="bool" label="Baixar apenas audio" default="false" />
        <setting id="save_location" type="folder"  label="[COLOR white] Selecione um local de download.[/COLOR]" default=""/>
        <setting id="use_thumb" type="bool" label="[COLOR white] Use Miniaturas como Fanart. [/COLOR]" default="true" />
        <setting id="logo-folderPath" type="folder"  label="[COLOR white]Selecione o diretório para o logotipo.[/COLOR]" default=""/>
        <setting id="add_playlist" type="bool" label="[COLOR white]Adicione ítens com vários links como listas de reprodução[/COLOR]" default="true"/>
        <setting id="ask_playlist_items" type="bool" label="[COLOR white]Pedir itens da lista de reprodução para escolher a caixa de diálogo[/COLOR]" default="true" />
        <setting id="debug" type="bool" label="[COLOR white]Ativar depuração de complemento[/COLOR]" default="true"/>
        <setting id="1080pquality" label="[COLOR white]Reproduz vídeo 1080p sob demanda, se disponível (Não ao Vivo)" type="bool[/COLOR]" default=""/>
        <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Reproduza IMDBid com:" default="Genesis[/COLOR]"/>
        <setting id="donotshowbychannels" label="[COLOR white] Não mostrar ítens no nome do canal[/COLOR]" type="bool" default="false"/>
        <setting label="[COLOR white]Controle dos Pais:[/COLOR]" type="lsep"/>
		<setting label="Tipo de Teclado (OK para trocar)" id="keyboard" type="enum" values="Númerico|Alfanúmerico" default="0" />
		<setting label="Entre aqui para alterar senha" type="action" action="RunScript(plugin.video.WEBPLAY, SetPassword)"/>
		<setting label="[COLOR white] Senha padrão 009[/COLOR]" type="bool"/>
</category>


<category label="[COLOR white]Players[/COLOR]">
		<setting type="action" label="configurar metahandler" option="close" action="RunPlugin(plugin://plugin.video.WEBPLAY/?mode=990)" />
	    <setting label="[COLOR white]Selecione abaixo seu gerenciador de torrents[/COLOR]" type="lsep" /> 
	    <setting type="sep" />
        <setting label="32054" type="labelenum" id="plugin" default="Quasar" values="Pulsar|Quasar|YATP|Elementum|KmediaTorrent|Torrenter|XBMCtorrent"/>
		<setting type="sep" />
	    <setting label="32057" type="lsep"/>
	    <setting label="32058" type="lsep"/>
        <setting type="lsep" />
        <setting label="[COLOR white] Usar Quasar Fork [/COLOR]" type="lsep" /> 
		<setting label="Usar Quasar Fork" type="labelenum" id="quasarfork" default="Não" values="Sim|Stremio|Não"/>
</category>

<category label="Proxy">
		<setting label="[COLOR white]Opções do Proxy:[/COLOR]" type="lsep"/>
		<setting label="Ativar Proxy" id="proxy" type="bool"  default="false" />
		<setting label="Número de Tentativas" id="proxy_try" type="enum" values="1 Vez|2 Vezes|3 Vezes|4 Vezes|5 Vezes|6 Vezes|6 Vezes|7 Vezes|8 Vezes|9 Vezes|10 Vezes" default="4" />
		<setting label="[COLOR white] Utilize apenas se a operadora estiver bloqueando o servidor [/COLOR]" type="bool"/>
		<setting label="[COLOR white] webplay.[/COLOR]" type="bool"/>
		<setting label="[COLOR white] Não se aplica a servidores de IPTV como o VIP esses tem [/COLOR]" type="bool"/>
		<setting label="[COLOR white] conexão direta.[/COLOR]" type="bool"/>
		<setting label="[COLOR white] Utilize VPN se a operadora bloqueia o IPTV.[/COLOR]" type="bool"/>
</category>

<category label="[COLOR white]IPTV Direto[/COLOR]">
	    <setting label="[COLOR white] Coloque a Chave [/COLOR]" type="lsep" /> 
		<setting default="" label="[COLOR=white]Chave [/COLOR]" type="text" id="password" enable="!eq(-2,false)" option="hidden"/>
	
</category>

    
<category label="[COLOR white]Idioma[/COLOR]">
	    <setting label="[COLOR white] Selecionrar Idiomas[/COLOR]" type="lsep" />	
		<setting id="infoLang" type="select" label="30803" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|pt-BR|ru|sl|sv|tr|zh" default="pt-BR" />
    
</category>
	
	
</settings>